{{> header}}
<h1>{{title}}</h1>
{{#each collections.articles}}
	<div class="col-md-4" style="background-color: #ddd">
		<h2><a href="../../{{this.path}}">{{this.title}}</a></h2>
		<p>{{this.excerpt}}</p>
	</div>
{{/each}}

{{> footer}}